<menu class="menu">
{% for item in pages %}
    <button type="button"
            id="{{ item }}"
            class="menu__item"
            style="--bgColorItem: {{ pages[item]['icon']['color'] }}"
            onclick="{{ pages[item]['icon']['link'] }}" >
        <svg class="icon"
             viewBox= "{{ pages[item]['icon']['viewbox'] }}" >
            <path fill="none"
            {% for p in pages[item]['icon']['paths'] %}
                d="{{ p }}"
            {%- endfor %}
            />
        </svg>
    </button>

    <li>{{ item }}</li>
{%- endfor %}
</menu>

<script type="text/javascript">
$( document ).ready(
function close_all() {
    const allParts = [];
    {% for item in pages %}
    const {{ item }} = document.getElementById("{{ item }}");
    allParts.push({{ item }});
    {%- endfor %}
    allParts.forEach(function (item, index, array) {
        item.style.display = "none";
    });

    console.log("Building Nav JS");
    {% for item in pages %}
        
        function {{ pages[item]['icon']['link'] }}() {
            close_all();
            {{ item }}.style.display = "block";
        }
    {%- endfor %}
})
const body = document.body;
const bgColorsBody = ["#ffb457", "#ff96bd", "#9999fb", "#ffe797", "#cffff1"];
const menu = body.querySelector(".menu");
const menuItems = menu.querySelectorAll(".menu__item");
const menuBorder = menu.querySelector(".menu__border");
let activeItem = menu.querySelector(".active");
function clickItem(item, index) {
    menu.style.removeProperty("--timeOut");
    if (activeItem == item)
        return;
    if (activeItem) {
        activeItem.classList.remove("active");
    }
    item.classList.add("active");
    body.style.backgroundColor = bgColorsBody[index];
    activeItem = item;
    offsetMenuBorder(activeItem, menuBorder);
}
function offsetMenuBorder(element, menuBorder) {
    const offsetActiveItem = element.getBoundingClientRect();
    const left = Math.floor(offsetActiveItem.left - menu.offsetLeft - (menuBorder.offsetWidth - offsetActiveItem.width) / 2) + "px";
    menuBorder.style.transform = `translate3d(${left}, 0 , 0)`;
}
offsetMenuBorder(activeItem, menuBorder);
menuItems.forEach((item, index) => {
    item.addEventListener("click", () => clickItem(item, index));
});
window.addEventListener("resize", () => {
    offsetMenuBorder(activeItem, menuBorder);
    menu.style.setProperty("--timeOut", "none");
});
</script>