<!DOCTYPE html>
<html>
<head>
    <title>Ruckusist.com</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
  <div id="root"></div><br>
  
  {% include "nav.j2" %}

  <script src="./static/js/main.js"></script>
  <script src="./static/js/nav_orig.js"></script>
</body>
</html>