<!DOCTYPE html>
<html>
<head>
    <title>Ruckusist.com</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
  
  
  {% include "nav.j2" %}
  
  <header>Header</header>
  <nav>nav</nav>
  <section>section</section>
  {# <aside>aside</aside>
  <footer>footer</footer> #}
  <root><div id="root"></div></root>
  <script src="./static/js/main.js"></script>
  <script src="./static/js/nav_orig.js"></script>
</body>
</html>